/* Style untuk Visi dan Misi */
body {
  text-align: center;
  background-color: #e2e6c7;
}
.darkmode {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

/* #darkmode {
  background: rgb(0, 0, 0);
  color: #ffffff;
} */

.mode {
  cursor: pointer;
}

.mode:hover {
  text-decoration: underline;
}

.menu img {
    max-height: 40px;
  }

  th {
    background-color: #f2f2f2; 
    color: #413434; 
    padding: 8px; 
    text-align: left; 
    border: 1px solid #ddd; 
}


  /* styles.css */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    
}

button:hover {
    background-color: #45a049;
}

  

/* Styling untuk tombol next dan previous */
.slide button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #585140;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slide button:hover {
    background-color: #585140; /* Ubah warna saat hover */
}

/* Styling untuk logo */
#image h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* #image h4 {
    font-size: 20px;
    font-weight: bold;
  } */

  #image {
    text-align: center;
    margin-bottom: 20px
}
  
  /* #image p {
    text-align: center;
    font-size: 16p
    line-height: 1.5;
  } */

.top-nav img {
    width: 80px;
    max-height: 70px;

}

#activities {
    display: flex;
    justify-content: space-around;
}

#bidanglomba {
  text-align: justify;
}

#bidanglomba table {
  text-align: center;
  margin-left: 13rem;
}

#aturan {
  text-align: justify;
}
.list {
    flex-basis: 45%; 
}

/* Styling untuk visi misi */
  #informasi {
    text-align: center;
    margin-bottom: 20px
}
  
  #informasi p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
  
   /* Style untuk Tabel */
   #tabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#tabel h2 {
    font-size: 24px;
    font-weight: bold;
}

#tabel a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e1b964;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

#tabel a:hover {
    background-color: #218838;
}


  /* Style untuk Video */
  #video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
  
  #video h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #video video {
    width: 100%;
    max-width: 600px;
    background-size:0%;
    background-color: #443e3e;
  }
  
  /* Style untuk Audio */
  #audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}
  
  #audio h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #audio audio {
    width: 100%;
    max-width: 400px;
    background-size: auto;
  }
  
  /* Style untuk PDF */
  #pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}
  
  #pdf h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #pdf a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e1b964;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #pdf a:hover {
    background-color: #218838;
  }
  
  /* Style untuk List */
  #lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  #lists h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #lists ol,
  #lists ul {
    margin-bottom: 15px;
  }
  
  #lists li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  #lists dl {
    margin-bottom: 15px;
  }
  
  #lists dt {
    font-weight: bold;
  }
  
  #lists dd {
    text-align: justify;
    margin-left: 20px;
  }
  
  /* Style untuk Form */
  #form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
  
  #form h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #form form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .formdaftar a{
    color: rgb(238, 63, 63)
  }
  
  #form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #form input[type="text"],
  #form input[type="email"],
  #form input[type="nowa"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #585140;
    border-radius: 5px;
  }
  
  #form button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #sosmed {
    margin-top: 50px;
    text-align: center;
}

#sosmed h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.social-icons a {
  display: inline-block; 
  margin-right: 10px; 
}

.social-icons img {
  width: 50px;
  height: 50px;
}


.social-icon {

    margin: 0;
    color: white;
}

.social-icon img {
  width: 50px; /* Mengatur lebar ikon */
  height: 50px;
}

.social-icon img:hover {
  transform: scale(1.1); /* Efek perbesar ketika kursor diarahkan ke gambar */
}


#sosmed ul {
    list-style-type: none;
    padding: 0;
        color: white;    color: white;
}

#sosmed ul li {
    margin-bottom: 10px;
}

#sosmed ul li a {
    text-decoration: none;
    color: #333; /* Warna teks */
    font-size: 18px;
    display: inline-block;
    transition: color 0.3s ease;
}

#sosmed ul li a:hover {
    color: #007bff; /* Warna teks saat dihover */
}


@import url(https://fonts.googleapis.com/css?family=Raleway);

h2 {
    vertical-align: center;
    text-align: center;
}

h2 #table1 {
  font-size: 24px;
  font-weight: bold;
  background-color: 717b6c;
  color: #ffffff;
  text-align: center;
}

h2 #table2 {
  font-size: 24px;
  font-weight: bold;
  background-color: 717b6c;
  color: #ffffff;
  text-align: center;
}

h2 #table3 {
  font-size: 24px;
  font-weight: bold;
  background-color: 717b6c;
  color: #ffffff;
  text-align: center;
}

footer {
    background-color: #41727c; 
    color: rgb(red, 4, 4);
    text-align: center; 
    padding: 20px;
    margin-top: 20px; 
    padding-top: 20px; 
    margin-bottom: 20px;
}

* {
    font-family: "Raleway";
    box-sizing: border-box;
}

.slide {
    display: none;
}

.current {
    display: block;
}

/* Styling untuk hamburger menu */
.navbar {
    background-color: #1130ff;
    overflow: hidden;
    position: relative; 
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #9abcc5;
  background: linear-gradient(to left, #e7c472, #c5d0b0,#9abcc5, #c5d0b0);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu a {
    color: #ffffff;
    font-weight: bold;
  }
  

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
